#button-2{
	border:1px solid black;
}
#button-5{
	display:block;
}
#button-3{
	padding:7px;
}
#button-5{
	display:block;
	width:100%;
}
#button-6{
	background:aqua;
	border:none;
}
#button-8{
	text-decoration:underline;
}